<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>menu</name>
    <sid>9758723347483098</sid>
    <event-sheet>menulayout</event-sheet>
    <size>
        <width>1280</width>
        <height>1024</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0" sid="1651607620989853">
            <initially-visible>1</initially-visible>
            <background-color>0,204,102</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Sprite25" uid="40">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>304</x>
                        <y>180.933319092</y>
                        <z>0</z>
                        <width>697</width>
                        <height>441</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.501234591</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="start" uid="41">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Flash" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>400</x>
                        <y>324</y>
                        <z>0</z>
                        <width>127</width>
                        <height>21</height>
                        <depth>0</depth>
                        <hotspotX>0.503937006</hotspotX>
                        <hotspotY>0.523809552</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite18" uid="73">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>575</x>
                        <y>325</y>
                        <z>0</z>
                        <width>82</width>
                        <height>18</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="player" uid="75">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Platform">
                            <properties>
                                <max-speed>350</max-speed>
                                <acceleration>1500</acceleration>
                                <deceleration>1500</deceleration>
                                <jump-strength>1000</jump-strength>
                                <gravity>1500</gravity>
                                <max-fall-speed>1000</max-fall-speed>
                                <default-controls>Yes</default-controls>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Physics">
                            <properties>
                                <immovable>No</immovable>
                                <collision-mask>Use collision polygon</collision-mask>
                                <prevent-rotation>Yes</prevent-rotation>
                                <density>1</density>
                                <friction>0.5</friction>
                                <elasticity>0.2</elasticity>
                                <linear-damping>0</linear-damping>
                                <angular-damping>0.01</angular-damping>
                                <bullet>No</bullet>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Flash" />
                        <behavior-instance type="ScrollTo" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1005</x>
                        <y>154</y>
                        <z>0</z>
                        <width>76</width>
                        <height>118</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.501529038</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
